.container {
    display: flex;
    flex-direction: row;
}

.home {
    height: 100vh;
}

.home1 {
    background-color: #ebebeb;
    flex: 0 0 30%;
}

.home2 {
    background-color: whitesmoke;
    flex: 0 0 40%;
}

.home3 {
    background-color: #ebebeb;
    flex: 0 0 30%;
}
