.container {
    display: flex;
    flex-direction: row;
}

.room {
    height: 100vh;
}

.room1 {
    background-color: #ebebeb;
    flex: 0 0 25%;
}

.room2 {
    background-color: whitesmoke;
    flex: 0 0 50%;
}

.room3 {
    background-color: #ebebeb;
    flex: 0 0 25%;
}
