.container {
    display: flex;
    flex-direction: row;
}

.room {
    height: 100vh;
}

.room1 {
    background-color: lavender;
    flex: 0 0 20%;
}

.room2 {
    background-color: lightgreen;
    flex: 0 0 60%;
}

.room3 {
    background-color: lavender;
    flex: 0 0 20%;
}
