@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

.container {
    margin: 10px 0px;
}

.myself {
    text-align: right;
}

.not-myself {
    text-align: left;
}

.chat-common {
    overflow-wrap: anywhere;
    min-height: 50px;
    padding: 5px;
}

.chat-room {
    width: 97%;
    border: 2px solid greenyellow;
}

.chat-conference {
    width: 97%;
    border: 2px solid greenyellow;
}

.nickname-span {
    margin-right: 20px;
    font-weight: bold;
}

.chat {
    font-family: "Nanum Gothic Coding", monospace;
}
