.container {
    width: 100%;
}

.item {
    text-align: center;
}

.file-name {
    width: 50%;
}

.file-date {
    width: 30%;
}

.file-uploader {
    width: 20%;
}

.foot {
    text-align: right;
}

.hidden {
    display: none;
}
