@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

.container {
    width: 100%;
}

.item {
    text-align: center;
    padding: 15px 3px;
    font-size: large;
    font-family: "Nanum Gothic Coding", monospace;
}

.container th {
    border-bottom: 1px solid black;
}

.file-name {
    width: 50%;
}

.file-date {
    width: 30%;
}

.file-uploader {
    width: 20%;
}

.foot {
    text-align: center;
}

.hidden {
    display: none;
}
