@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

.chatting-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-record {
    flex: 7;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 550px;
}

.chat-input {
    display: flex;
    align-items: center;
    flex: 3;
    background-color: #d2c9c9;
}

.chat-input textarea {
    width: 630px;
    height: 90px;
    margin: 10px 5px;
}

.chat-input button {
    width: 90px;
    height: 90px;
    margin: 10px 5px;
}
