@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 20px 50px 5px;
    height: 50px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 600;
    font-size: large;
    border: none;
    border-radius: 10px;
    background-color: azure;
}
